{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <!--link rel="stylesheet" href="css/bootstrap-theme.min.css"-->
        <link rel="stylesheet" href="{% static '/static/css/main.css' %}">
        <link rel="stylesheet" href="{% static '/static/css/bootstrap-theme.min.css' %}">
        <script src="{% static '/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'blog:index' %}">clifford.io</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--li class="active"><a href="{% url 'blog:index' %}">home</a></li>
            <li><a href="#about">about</a></li>
            <li><a href="#contact">contact</a></li-->
          </ul>
          <form class="navbar-form navbar-right" method="post" action="{% url 'auth_login' %}?next={% url 'blog:index' %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

      <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="jumbotron">
        <h1>
          <a href="{% url 'blog:index' %}">clifford.io</a>
        </h1>
        <p>The blog of an aspiring technologist.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        </div></a>
        
      

      <div class="container">
    {% block body %}
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-8">
            {% block left %}
            <h2>Body</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            <h2>Body</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            <h2>Body</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
            {% endblock left %}
          </div>
          <div class="col-lg-4">
            <p>I'm a <b>web developer.</b></p>
            <p>I'm the <b>lead developer</b> behind <a href="http://vermontgleaningcollective.org">The Gleaners Interface</a>.</p>
            <p>I got my start in web development making fast <a href="http://www.http://woodstockjobbank.org/">Wordpress</a> <a href="http://bethelfoodshelf.org">Spinups</a> <a href="kmria.org">for</a> <a href="ocpvt.org">non-profits</a>.</p>
            <p>I run an <a href="irc://irc.thosebreeders.com:1080">irc server</a> and spend time asking and answering questions in the popular <b>#django</b> and <b>#python</b> channels on <a href="irc://irc.freenode.net">freenode</a>.</p>
            <p>I live in Vermont, and love to travel.</p>
            <p></p>
            <h2>My Github Repos</h2>
            <ul>

              <li><a href="github.org/cheekio/glean">The Gleaners Interface</a></li>
              <li><a href="github.org/cheekio/portfolio">This Very Site</a></li>
              
            </ul>
          </div>
        </div>

        <hr>
      {% endblock body %}
    </div> <!-- /container -->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
      <footer>
        <p>&copy; Company 2013</p>
      </footer>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="{% static '/static/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static '/static/js/plugins.js' %}"></script>
        <script src="{% static '/static/js/main.js' %}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
