

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h2 > a {
	color: #444;
}
h2 > a:hover{
	color: #000;
	text-decoration: none;
}















